<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{constants.brand}} - hosted blogging from the command-line</title>
    <meta charset="utf-8" />
    <meta name="description" content="weblog.sh is a blogging platform that is managed through a bash command, draft and publish plain text posts to your blog straight from your command-line.">
    <link href="data:image/gif;base64,R0lGODlhEAAQAPABAA0NDf///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAEAAQAAACF4SPqcvtn0KARlJgaYb7dfc14UWW5lEAADs=" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>
    <style>
    body {
      font: 16px/1.5em 'Roboto Mono', 'Consolas', 'Andale Mono', 'Monaco', 'Courier New', Courier, monospace;
      padding: 0 1ch;
      margin: 0;
    }
    section, footer, .preview_wrap {
      width: 100%;
      max-width: 56ch;
      margin: auto;
    }
     .preview_wrap {
       margin: 10ch auto 8ch;
       padding-bottom: 2ch;
     }
    h1, h2 {
      font-size: 1em;
      font-weight: 700;
      margin-top: 0;
    }
    #lead h1 {
      margin-top: 3ch;
    }
    a {
      color: blue;
      background-image: linear-gradient(to bottom,blue 75%,blue 75%);
      text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      background-position: 0 99.9%;
      text-decoration: none;
    }
    .red {
      color:indianred;
    }
    article header {
      margin-bottom: 2ch;
      padding: 0;
    }
    .prompt {
      color: lightgrey;
    }
    .prompt:after {
      content: '$ ';
    }
    .comment {
      color: grey;
      /* text-transform: uppercase; */
      font-weight: bold;
    }
    hr {
      border: 0;
      border-bottom: 4px solid #EEE;
      margin: 4ch 0;
    }
    section {
      position: relative;
      padding: 2ch;
      box-sizing: border-box;
    }
    body > section {
      padding: 2ch 0;
    }
    .name a {
      background-image: none;
      text-shadow: none;
      background-color: #333;
      color: #EEE;
      padding: 1ch;
      border: 0;
    }
    .contrast {
      background-color: #F5F5F5;
      margin: 4ch auto;
    }
    .contrast a {
      text-shadow: -1px -1px 0 #F5F5F5,1px -1px 0 #F5F5F5,-1px 1px 0 #F5F5F5,1px 1px 0 #F5F5F5;
    }
    #support p {
      margin-top: 0;
    }
    .term {
      background-color: #111;
      color: #CCC;
    }
    .term .prompt, .output {
      color: #444;
    }
    .term hr {
      border-color: #333;
    }
    footer {
      margin: 4ch auto;
      line-height: 2em;
    }
    footer a {
      color: grey;
      background-image: linear-gradient(to bottom,grey 75%,grey 75%);
      margin-right: 1ch;
    }
    pre {
      font-family: inherit;
      max-width: 100%;
      white-space: pre-wrap;
    }
    iframe {
      box-sizing:border-box;
      width: 100%;
      border: 5px solid #EEE;
      height: 18.75em;
    }
    sup {
      line-height: 0;
    }
    #intro, #intro p:first-child {
      padding-top: 0; margin-top: 0;
    }
    .articlelist {
      list-style: none;
      padding: 0;
    }
    .articlelist li {
      margin-bottom: 2ch;
    }
    .lighter {
      opacity: 0.4;
    }
    .bar {
      background-color:#fff;
    }
    .progress {
      display:block;height:1em;background-color:indianred;
    }
    @media screen and (min-width:74ch) {
      iframe {
        width: 50%;
      }
      iframe + iframe {
        border-left: 0;
      }
    }
    @media screen and (min-width:1122px) {
      section {
        width: 33.5626em;
      }
      .wide {
        text-align: center;
        margin: 4ch 0;
      }
      .col {
        display: inline-block;
        vertical-align: top;
        text-align: initial;
      }
      .col:first-of-type {
        margin-right: 2ch;
      }
      .preview_wrap {
        margin: 0;
      }
      iframe {
        height: 37.65em;
      }
    }
    @media screen and (min-width:1600px) {
      body {
        font-size: 1.25em;
      }
    }
    </style>
  </head>
  <body>

    {{{body}}}

    <footer>
      <a href="/~postmaster" style="border:0">~Postmaster</a>
      <a href="/about" style="border:0">About</a>
      <a href="/terms" style="border:0">Terms</a>
      <a href="/privacy" style="border:0">Privacy</a>
      <a href="" style="border:0" onmouseover="this.setAttribute('href',atob('bWFpbHRvOnBvc3RtYXN0ZXJAd2VibG9nLnNo'))">Email</a>
      <a href="https://github.com/hmngwy/weblog.sh/issues/new">Issues</a>
    </footer>

  </body>
</html>
