<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{constants.brand}} - blogging from the command-line</title>
    <meta charset="utf-8" />

    <link href="data:image/gif;base64,R0lGODlhEAAQAPABAA0NDf///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAEAAQAAACF4SPqcvtn0KARlJgaYb7dfc14UWW5lEAADs=" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>
    <style>
    body {
      font: 16px/1.5em 'Roboto Mono', 'Consolas', 'Andale Mono', 'Monaco', 'Courier New', Courier, monospace;
      padding: 0 1ch;
      margin: 0;
    }
    section, footer, .preview_wrap {
      width: 100%;
      max-width: 56ch;
      margin: auto;
    }
     .preview_wrap {
       max-width: 59ch;
       margin: 6ch auto 4ch;
       padding-bottom: 2ch;
     }
    h1, h2 {
      font-size: 1em;
      font-weight: 700;
      margin-top: 0;
    }
    #lead h1 {
      margin-top: 3ch;
    }
    a {
      color: blue;
      background-image: linear-gradient(to bottom,blue 75%,blue 75%);
      text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      background-position: 0 99.9%;
      text-decoration: none;
    }
    article header {
      margin-bottom: 2ch;
      padding: 0;
    }
    .prompt {
      color: lightgrey;
    }
    .prompt:after {
      content: '$ ';
    }
    .comment {
      color: grey;
      text-transform: uppercase;
      font-weight: bold;
    }
    hr {
      border: 0;
      border-bottom: 4px solid #EEE;
      margin: 4ch 0;
    }
    section {
      position: relative;
      padding: 2ch;
      display: table;
      box-sizing: border-box;
    }
    .cell {
      display: table-cell;
      vertical-align: middle;
    }
    .name a {
      background-image: none;
      text-shadow: none;
      background-color: #333;
      color: #EEE;
      padding: 1ch;
      border: 0;
    }
    .contrast {
      background-color: #F5F5F5;
      margin: 4ch auto;
    }
    .contrast a {
      text-shadow: -1px -1px 0 #F5F5F5,1px -1px 0 #F5F5F5,-1px 1px 0 #F5F5F5,1px 1px 0 #F5F5F5;
    }
    #support p {
      margin-top: 0;
    }
    .term {
      background-color: #111;
      color: #CCC;
    }
    .term .prompt, .output {
      color: #444;
    }
    .term hr {
      border-color: #333;
    }
    footer {
      margin: 4ch auto;
      text-align: center;
    }
    footer a {
      color: grey;
      background-image: linear-gradient(to bottom,grey 75%,grey 75%);
      margin-right: 1ch;
    }
    pre {
      font-family: inherit;
      max-width: 100%;
      white-space: pre-wrap;
    }
    iframe {
      box-sizing:border-box;
      width: 100%;
      border: 5px solid #EEE;
      height: 250px;
    }
    sup {
      line-height: 0;
    }
    @media screen and (min-width:74ch) {
      iframe {
        width: 50%;
      }
      iframe + iframe {
        border-left: 0;
      }
    }
    @media screen and (min-width:1367px) {
      body {
        font: 20px/1.75em 'Roboto Mono';
      }
    }
    </style>
  </head>
  <body>

    <section id="lead">
      <div class="cell">
        <header>
          <p class="name"><a href="./" target="_self">{{constants.brand}}</a></p>
          <h1>BLOGGING FROM THE COMMAND-LINE</h1>
        </header>
        <p>This is a blogging platform boiled down to its core. The only features are to save a draft, and to publish it.</p>
        <p>The post format is plain text<sup>1</sup>, your first line is the title. It launches your EDITOR to write posts.</p>
        <p>It serves posts under your <a href="/~postmaster" target="_blank">~username</a>, which is the only thing it knows about you.</p>
        <p>
          Simple and <a href="https://www.eff.org/issues/anonymity">anonymous</a>.
        </p>
        <hr>
        <p style="font-size:.75em;color:grey">1: [link format https://weblog.sh], this is the web after all</p>
      </div>
    </section>

    {{{body}}}

    <footer>
      <a href="/~postmaster" style="border:0">~Postmaster</a>
      <a href="/terms" style="border:0">Terms</a>
      <a href="/privacy" style="border:0">Privacy</a>
      <a href="" style="border:0" onmouseover="this.setAttribute('href',atob('bWFpbHRvOnBvc3RtYXN0ZXJAd2VibG9nLnNo'))">Contact</a>
      <a href="https://github.com/hmngwy/weblog.sh/issues/new">Report Issue</a>
    </footer>

  </body>
</html>
