<section id="lead">
  <div class="cell">
    <header>
      <p class="name"><a href="./" target="_self">{{constants.brand}}</a></p>
      <h1>BLOG FROM THE COMMAND-LINE</h1>
    </header>
  </div>
</section>

<section id="intro">
  <div class="cell">
    <header>
      <h2>ABOUT weblog.sh</h2>
    </header>

    <p>
      weblog.sh is a blogging platform, it's designed to cease being one if a feature is removed, based on the concept of <a href="https://en.wikipedia.org/wiki/Irreducibility">irreducibility</a>.
    </p>

    <p>
      Currently the only way to create and manage a blog on it is through the supplied client aptly named weblog.sh, a bash script.
    </p>

    <p>
      We acknowledge that this makes the service accessible only to a niche crowd, and so we are considering adding an alternative way to blog.
    </p>

    <h2>Inspiration</h2>

    <p>
      To have the ability get a thought out and fast, and to present passages in its most basic form in hope that its thought would carry it alone.</p>

    <!-- <p>
      The assumption is that some ideas don't need visual aid and that the additional interface to supply them may beget us to add unnecesarry cruft. And that words on pages are good enough, that we just need to get a thought out and fast.
    </p> -->

    <h2>Anonymity</h2>

    <p>
      A side-effect of its irreducibility is that it holds as little information needed as possible to continue fulfilling its definition. Which in turn makes users anonymous to the service.
    </p>

    <p>
      This is not completely unintentional though, with the advent of hyper-sensitivity in the internet some <a href="https://medium.com/@johncwelch/samantha-and-the-great-big-lie-d146a92473a1">critical writers</a> need a platform where they can write as their pseudonyms without the risk of exposure even in the case of a data breach.
    </p>

    <p>
      We also do not have any third party tracking installed, and solely rely on the access logs<sup>1</sup> to anticipate traffic and scale accordingly.
    </p>

    <p>
      The client connects to the service over SSH, all communication between you and the service is encrypted. Do note that to the service, and those who read blogs on weblog.sh you are anonymous, but to your ISP and everyone in between, they can track your activity back to you. This is beyond our control, so we can only recommend that you use Tor, a proxy, or a combination of both.
    </p>

    <p>
      <small>1: the access logs contain IPs that are destroyed regularly, the system collects the IP to prevent rate abuse</small>
    </p>

    <h2>Downsides</h2>

    <p>
      Because we decided not to hold personally identifying information, we cannot employ paid subscriptions to help support the longevity of the service.
    </p>

    <p>
      Instead we are on <a href="https://gratipay.com/weblog-sh/">Gratipay</a>, so that supporters can opt-in to funding the site and its contributors on a weekly basis.
    </p>

    <p>
      At the time of writing we are spending around $15 a month to keep the service up. If 75 people donated 5 cents a week, we'd be sustainable. <em>- 27/10/15</em>
    </p>

    <h2>Open Source</h2>

    <p>
      The source to the platform and CLI client is available on <a href="https://github.com/hmngwy/weblog.sh">Github</a>, with the exception of server configuration files that hold SSL and SSH information. Anyone is invited to contribute and report issues there.
    </p>

    <h2>Reaching Us</h2>

    <p>
      The best way is to post a Github issue, but if you prefer it to be private, then send us an email at <script>document.write('<a href=\"'+atob('bWFpbHRvOnBvc3RtYXN0ZXJAd2VibG9nLnNo')+'\">'+atob('cG9zdG1hc3RlckB3ZWJsb2cuc2g=')+'</a>');</script>
    </p>

    <h2>Know This</h2>

    <ul>
      <li>SSL Certificates are provided by <a href="https://www.startssl.com/">startssl</a>, in the free tier.</li>
      <li>IPs are logged because curl sends them and the web server stores them by default.</li>
      <li>There is no password recovery system, an account lost is lost forever.</li>
      <li>The site does not use cookies or third party tracking, but Google Fonts might be tracking usage.</li>
    </ul>

  </div>
</section>
