<section id="intro">
  <div class="cell">
    <header>
      <h2>ABOUT weblog.sh</h2>
    </header>

    <p>
      weblog.sh is a blogging platform, it's designed to cease being one if a feature is removed, based on the concept of <a href="https://en.wikipedia.org/wiki/Irreducibility">irreducibility</a>.
    </p>

    <p>
      Currently the only way to create and manage a blog on it is through the supplied client aptly named weblog.sh, a bash script.
    </p>

    <p>
      We acknowledge that this makes the service accessible only to a niche crowd, and so we are considering adding an alternative way to blog.
    </p>

    <h2>Inspiration</h2>

    <p>
      To have the ability get a thought out and fast, without any need for ownership or design. To present passages in its most basic form, and with its thought alone.</p>

    <p>
      The assumption is that good writing does not need supplementary aid to reinforce the thought, so it does not bother with images and layouts. That words on pages are good enough.
    </p>

    <h2>True Minimalism</h2>

    <blockquote cite="http://practicaltypography.com/billionaires-typewriter.html">
      <p>
        the minimalist program — as it initially emerged in fine art of the 20th century — has been about diverting the viewer’s attention from overt signs of authorship to the deeper purity of the ingredients.
      </p>
      <cite><a href="http://practicaltypography.com/billionaires-typewriter.html">The billionaire’s typewriter</a> - Matthew Butterick</cite>
    </blockquote>

    <p>
      A lot of blogging platforms overclaim their minimalism but do not adhere to its definitions, simply because it is not practical for their business to truly rid themselves of the cruft.
    </p>

    <h2>Anonymity</h2>

    <p>
      A side-effect of its irreducibility is that it holds as little information needed as possible to continue fulfilling its definition. Which in turn makes users anonymous to the service<sup>1</sup>.
    </p>

    <p>
      This is not completely unintentional though, with the advent of hyper-sensitivity in the internet some <a href="https://medium.com/@johncwelch/samantha-and-the-great-big-lie-d146a92473a1">critical writers</a> need a platform where they can write as their pseudonyms without the risk of exposure even in the case of a data breach.
    </p>

    <p>
      We also do not have any third party tracking installed, and solely rely on the access logs to anticipate traffic and scale accordingly.
    </p>

    <p>
      <small>1: with the exception of access logs containing IPs that are cleared out regularly, we suggest using a proxy</small>
    </p>

    <h2>Downsides</h2>

    <p>
      Because we decided not to hold personally identifying information, we cannot employ paid subscriptions to help support the longevity of the service.
    </p>

    <p>
      Instead we are currently setting up opt-in services that would allow users to anonymously pledge an amount of money weekly/monthly.
    </p>

    <p>
      At the time of writing we are spending around $15 a month to keep the service up. <em>- 27/10/15</em>
    </p>

    <h2>Open Source</h2>

    <p>
      The source to the platform and CLI client is available on <a href="https://github.com/hmngwy/weblog.sh">Github</a>, with the exception of server configuration files that hold SSL information. Anyone is invited to contribute and report issues there.
    </p>

    <h2>Reaching Us</h2>

    <p>
      The best way is to post a Github issue, but if you prefer it to be private, then send us an email at <script>document.write('<a href=\"'+atob('bWFpbHRvOnBvc3RtYXN0ZXJAd2VibG9nLnNo')+'\">'+atob('cG9zdG1hc3RlckB3ZWJsb2cuc2g=')+'</a>');</script>
    </p>

    <h2>Know This</h2>

    <ul>
      <li>Your login is maintained using a token file in your ~/.weblog/ folder, keep it safe.</li>
      <li>SSL is provided by startssl, in the free tier.</li>
      <li>IPs are logged because curl sends them and the web server stores them by default.</li>
      <li>There is no password recovery system, an account lost is lost forever</li>
      <li>The site does not use cookies or third party tracking, but Google Fonts might be</li>
    </ul>

  </div>
</section>
