<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{message}}</title>
    <meta charset="utf-8" />
    <link href="data:image/gif;base64,R0lGODdhAQABAPAAAAAAAAAAACH/C1hNUCBEYXRhWE1QAz94cAAsAAAAAAEAAQBAAgJEAQA7" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>
    <style>
    body {
      font: 16px/1.5em 'Roboto Mono', Monaco, "Courier New", Courier, monospace;
      padding: 1ch;
      margin: 0;
    }
    h1 {
      font-size: 1em;
      font-weight: 700;
      text-align: center;
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid;
    }
    a:visited {
      color: #AAA;
      border-bottom: 1px solid #AAA;
    }
    section {
      margin: auto;
      width: 100%;
      max-width: 60ch;
      height: 100vh;
      display: table;
    }
    .cell {
      display: table-cell;
      vertical-align: middle;
    }
    @media screen and (min-width:1024px) {
      body {
        font: 20px/1.75em 'Roboto Mono';
      }
    }
    </style>
  </head>
  <body>

<section>
  <div class="cell">

    <h1>{{message}}</h1>

  </div>
</section>

  </body>
</html>
