<section id="lead">
  <div class="cell">
    <header>
      <p class="name"><a href="./" target="_self">{{constants.brand}}</a></p>
      <h1>BLOG FROM THE COMMAND-LINE</h1>
    </header>
  </div>
</section>


<section id="intro">
  <div class="cell">
    <header>
      <h2>ls .</h2>
    </header>
    <ul>
      {{#each users}}
      <li><a href="/~{{username}}" target="_blank">~{{username}}</a></li>
      {{/each}}
    </ul>
  </div>
</section>
