<div class="wide">

  <div class="col">
    <section id="lead">
      <div class="cell">
        <header>
          <p class="name"><a href="./" target="_self">{{constants.brand}}</a></p>
          <h1>BLOG FROM THE COMMAND-LINE</h1>
        </header>
      </div>
    </section>


    <section id="intro">
      <div class="cell">
        <p>This is a blogging platform boiled down to its core. The only features are saving drafts, and publishing them.</p>
        <p>The post format is plain text<sup>1</sup>, it launches your EDITOR to write drafts. First line is the title.</p>
        <p>It serves posts under your <a href="/~postmaster" target="_blank">~username</a>, which is the only thing it knows about you.</p>
        <p>
          Simple and <a href="https://www.eff.org/issues/anonymity" target="_blank">anonymous</a>.
        </p>
        <hr>
        <p style="font-size:.75em;color:grey">1: [link format https://weblog.sh], this is the web after all</p>
      </div>
    </section>

    <div class="preview_wrap">
      <iframe id="iframe1" src="/~postmaster" class="previmew index" onload="this.contentDocument.body.setAttribute('style', 'font-size:12px;overflow:hidden');"></iframe><!--
      --><iframe src="/~postmaster/katakana-hiragana-plain-text-test-V19xqoNZx" class="previmew page" onload="this.contentDocument.body.setAttribute('style', 'font-size:12px;overflow:hidden');"></iframe>
    </div>

  </div>

  <div class="col">

    <section id="install" class="contrast">
      <div class="cell">
        <header><h2>SETUP</h2></header>
        <!-- <p><a class="download" href="{{constants.downloadpath}}">Download Client ({{latest}})</a></p> -->
        <span class="comment"># TO AVOID TYPING THE PORT</span><br>
        <span class="prompt"></span>echo "Host weblog.sh" >> ~/.ssh/config<br>
        <span class="prompt"></span>echo "Port 2222" >> ~/.ssh/config<br>
      </div>
    </section>

    <section id="usage" class="term">

      <header><h2>USAGE</h2></header>

      <p>
        <span class="comment"># REGISTRATION</span><br>
        <span class="prompt"></span>ssh walt@weblog.sh
      </p>

      <p>
        <span class="comment"># SEND PUBLIC KEY (optional)</span><br>
        <span class="prompt"></span>ssh walt@weblog.sh key $(cat ~/.ssh/id_rsa.pub)
      </p>

      <hr>

      <p>
        <span class="comment"># NEW DRAFT &AMP; UPLOAD ON SAVE</span><br>
        <span class="prompt"></span>vim scp://walt@weblog.sh/draft.txt
      </p>

      <p>
        <span class="comment"># BROWSE &AMP; EDIT</span><br>
        <span class="prompt"></span>vim scp://walt@weblog.sh/<span class="red">(draft|public)</span>/<br>
      </p>

      <p>
        <span class="comment"># PUBLISH/UNPUBLISH ARTICLE</span><br>
        <span class="prompt"></span>ssh walt@weblog.sh <span class="red">[un]</span>publish draft.txt<br>
      </p>

      <p>
        <span class="comment"># EDIT EXISTING &AMP; UPLOAD ON SAVE</span><br>
        <span class="prompt"></span>vim scp://walt@weblog.sh/draft.txt<br>
      </p>

      <p>
        <span class="comment"># UPLOAD FROM FILE</span><br>
        <span class="prompt"></span>scp local.txt walt@weblog.sh:<span class="red">(draft|public)</span>/<br>
      </p>

      <p>
        <span class="comment"># DOWNLOAD TO FILE</span><br>
        <span class="prompt"></span>scp walt@weblog.sh:/draft.txt local.txt<br>
      </p>

      <p>
        <span class="comment"># DELETE ARTICLE</span><br>
        <span class="prompt"></span>ssh walt@weblog.sh rm draft.txt</code>
      </p>

    </section>

    <section id="support" class="contrast">
      <p>This service is free to reinforce anonymity, it does cost money to run this, about $170/year.</p>
      <h2>SUPPORT ANONYMOUSLY THROUGH <a href="https://gratipay.com/weblog-sh/" target="_blank">♥︎GRATIPAY</a></h2>
    </section>

  </div>

</div>


<section>
  <hr>
  <p>An antithesis to all the blogging platforms that overstate their "minimalism".</p>
</section>
