<section>
  <div class="cell">
    <header>
      <h1>Terms of Service</h1>
    </header>

<pre>
The gist:

We (the folks at Weblog) run a blog and website hosting platform called weblog.sh and would love for you to use it. weblog.sh’s basic service is free. Our service is designed to give you as much control and ownership over what goes on your website as possible and encourage you to express yourself freely. However, be responsible in what you publish. In particular, make sure that none of the prohibited items (like spam, viruses, or serious threats of violence) appear on your website.

If you find a weblog.sh website that you believe violates these Terms of Service, please contact us at postmaster at weblog•sh.

The source code to this service is Open Source and is available at https://github.com/hmngwy/weblog.sh under the GNU GPL V3 License.

This Terms of Service is derived from Auttomatic's Wordpress.com, and we're sharing it under the same license.
<blockquote cite="https://en.wordpress.com/tos/">
(We’ve made the below Terms of Service available under a Creative Commons Sharealike license, which means you’re more than welcome to repurpose it for your own use. Just make sure to replace references to us with ones to you, and if you don’t mind we’d appreciate a link to weblog.sh somewhere on your website. We spent a lot of money and time on the below, and other people shouldn’t need to do the same.)
</blockquote>

Terms of Service:

The following terms and conditions govern all use of the weblog.sh website and all content, services, and products available at or through the website. Our Services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Weblog’s Privacy Policy) and procedures that may be published from time to time by Weblog (collectively, the “Agreement”). You agree that we may automatically upgrade our Services, and these terms will apply to any upgrades.

Please read this Agreement carefully before accessing or using our Services. By accessing or using any part of our services, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access or use any of our services. If these terms and conditions are considered an offer by Weblog, acceptance is expressly limited to these terms.

Our Services are not directed to children younger than 13, and access and use of our Services is only offered to users 13 years of age or older. If you are under 13 years old, please do not register to use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 13 years of age or older.

Use of our Services requires a weblog.sh account. You will only need to provide a preferred username for your account, for posterity any other information is not explicitly requested, information you disclose with Weblog and weblog.sh other than a preferred username is of your own will and choosing, Weblog and weblog.sh will not be liable for the damages incurred from the leak of personal information. You will be solely responsible and liable for any activity that occurs under your username. You are responsible for keeping your password secure, there is no password recovery system in place - once account access is lost it is lost and Weblog and weblog.sh cannot be held liable.

1. weblog.sh.

● <b>Your weblog.sh Account and Website.</b> If you create a blog or website on weblog.sh, you are responsible for maintaining the security of your account and blog, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the blog. You may notify Weblog of any unauthorized uses of your blog, your account, or any other breaches of security, but our actions are limited, there is no password recovery system in place and we do not collect the information needed to identify you, the user, as the authentic owner of an account and thus we cannot simply revoke access to or disable any account at a user's behest. Weblog will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.

● <b>Responsibility of Contributors.</b> If you operate a blog, comment on a blog, post material to weblog.sh, post links on weblog.sh, or otherwise make (or allow any third party to make) material available (any such material, “Content”), you are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of what form the Content takes, which includes, but is not limited to text, photo, video, audio, or code. By making Content available, you represent and warrant that your content does not violate these terms or the User Guidelines. By submitting Content to Weblog for inclusion on your website, you grant Weblog a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing, and promoting your blog - usually in the form of featuring your content in the home page with your username attributed as the original author. You also give other weblog.sh users permission to share your Content on other weblog.sh websites and add their own Content to it (aka to reblog your Content), so long as they use only a portion of your post or if they add commentary and they give you credit as the original author by linking back to your website. If you delete Content, Weblog will use reasonable efforts to remove it from weblog.sh, but you acknowledge that caching or references to the Content may not be made immediately unavailable. Without limiting any of those representations or warranties, Weblog has the right (though not the obligation) to, in Weblog’s sole discretion,

  (i) refuse or remove any content that, in Weblog’s reasonable opinion, violates any Weblog policy or is in any way harmful or objectionable, or
  (ii) terminate or deny access to and use of weblog.sh to any individual or entity for any reason. Weblog will have no obligation to provide a refund of any amounts previously paid.

● <b>Advertisements.</b> You may post advertisements on your blog, so long as they do not have javascript or cookie based tracking, Weblog will make an effort to remove third party tracking codes and cookies from sites and reserves the right to do so.

● <b>Attribution.</b> Weblog reserves the right to display attribution links such as ‘Blog at weblog.sh,’ in your blog footer or heading.

2. Responsibility of Visitors.

Weblog has not reviewed, and cannot review, all of the material, including computer software, posted to our Services, and cannot therefore be responsible for that material’s content, use or effects. By operating our Services, Weblog does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful, or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. Our Services may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. Our Services may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. Weblog disclaims any responsibility for any harm resulting from the use by visitors of our Services, or from any downloading by those visitors of content there posted.

3. Content Posted on Other Websites.

We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which weblog.sh links, and that link to weblog.sh. Weblog does not have any control over those non-weblog.sh websites, and is not responsible for their contents or their use. By linking to a non-weblog.sh website, Weblog does not represent or imply that it endorses such website. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. Weblog disclaims any responsibility for any harm resulting from your use of non-weblog.sh websites and webpages.

4. Copyright Infringement and DMCA Policy.

As Weblog asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by weblog.sh violates your copyright, you are encouraged to notify Weblog in accordance with Weblog’s Digital Millennium Copyright Act (“DMCA”) Policy. Weblog will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. Weblog will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Weblog or others. In the case of such termination, Weblog will have no obligation to provide a refund of any amounts previously paid to Weblog.

5. Intellectual Property.

This Agreement does not transfer from Weblog to you any Weblog or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with Weblog. Weblog, WordPress, weblog.sh, the weblog.sh logo, and all other trademarks, service marks, graphics and logos used in connection with weblog.sh or our Services, are trademarks or registered trademarks of Weblog or Weblog’s licensors. Other trademarks, service marks, graphics and logos used in connection with our Services may be the trademarks of other third parties. Your use of our Services grants you no right or license to reproduce or otherwise use any Weblog or third-party trademarks.

6. Custom Domain Names.

If you are using a custom domain name to host your weblog.sh blog, you acknowledge and agree that use of the domain name is also subject to the policies of the Internet Corporation for Assigned Names and Numbers (“ICANN”) and the Domain Name Registration and Customer Service Agreement.

7. Changes.

We are constantly updating our Services, and that means sometimes we have to change the legal terms under which our Services are offered. If we make changes that are material, we will let you know by posting on one of our blogs, or by sending you an email or other communication before the changes take effect. The notice will designate a reasonable period of time after which the new terms will take effect. If you disagree with our changes, then you should stop using our Services within the designated notice period. Your continued use of our Services will be subject to the new terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place when the dispute arose.

8. Termination.

Weblog may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your weblog.sh account (if you have one), you may simply discontinue using our Services. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

9. Disclaimer of Warranties.

Our Services are provided “as is.” Weblog and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Weblog nor its suppliers and licensors, makes any warranty that our Services will be error free or that access thereto will be continuous or uninterrupted. If you’re actually reading this, here’s a treat. You understand that you download from, or otherwise obtain content or services through, our Services at your own discretion and risk.

10. Limitation of Liability.

In no event will Weblog, or its suppliers or licensors, be liable with respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Weblog under this agreement during the twelve (12) month period prior to the cause of action. Weblog shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.

11. General Representation and Warranty.

You represent and warrant that (i) your use of our Services will be in strict accordance with the Weblog Privacy Policy, with this Agreement, and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of our Services will not infringe or misappropriate the intellectual property rights of any third party.

12. Indemnification.

You agree to indemnify and hold harmless Weblog, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of our Services, including but not limited to your violation of this Agreement.

13. Translation.

These Terms of Service were originally written in English (US). We may translate these terms into other languages. In the event of a conflict between a translated version of these Terms of Service and the English version, the English version will control.

14. Miscellaneous.

This Agreement constitutes the entire agreement between Weblog and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Weblog, or by the posting by Weblog of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of our Services will be governed by the laws of the city of Makati, Republic of The Philippines, excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in Makati, Metro Manila / National Capital Region. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in Makati, Metro Manila / National Capital Region, in the language deemed necesarry by the court and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Weblog may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.

</pre>

</div>
</section>
